@import "utils/reset";
@import "utils/base";

body {
  background: #090712;
  color: #fff;
  height: 100vh;

  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #42378F;
}

html::-webkit-scrollbar-thumb:hover {
  background: #5d4dc5;
}

html::-webkit-scrollbar-thumb:active {
  background: #7a69e9;
}

section {
  min-height: 100vh;
}


.hero {
  position: relative;
  padding: 0 24px;

  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logo {
      height: calc(8em + 5vw + 10vh);
      z-index: 50;
      display: inline;
    }
  }

  .blobs {
    @media screen and (max-width: 1140px) {
      * {
        display: none;
      }
    }

    * {
      position: absolute;
      width: 18em;
    }
    
    :nth-child(1) {
      top: -2em;
      left: -5vw;
    }
    :nth-child(2) {
      top: -10em;
      right: 35vw;
    }
    :nth-child(3) {
      top: -5em;
      right: 2vw;
    }
    :nth-child(4) {
      bottom: -4em;
      right: 10em;
    }
    :nth-child(5) {
      bottom: 2em;
      left: 6em;

      z-index: 100;
    }
  }
}

.about {
  padding: 2em;

  h1 {
    font-size: 4em;
    font-weight: bold;
  }

  .text {
    font-size: 1.75em;
    width: 75vw;

    p {
      margin: 24px 0;
    }
  }
}

.technologies {
  text-align: center;
  
  h1 {
    font-size: 96px;
    text-decoration: underline #fff 5px;
  }

  .technoUsedList {
    margin: 50px;

    li {
      font-size: 48px;
      margin: 30px;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-transform: uppercase;

    font-size: 4em;
    font-weight: bold;

    padding: 12px 24px;
    border-radius: 4px;

    background: linear-gradient(120deg, #F53844, #42378F);
    color: #fff;
    
    cursor: pointer;

    &:hover {
      opacity: .6;
      color: #090712;
    }
  }
}