---
import MilesLogo from "@/components/MilesLogo";
---
<html lang="en">
  <head>
    <title>MilesCode</title>
  </head>
  <body class="bg-gray-100">

    <div class="h-screen flex flex-col gap-8 justify-center items-center">
      <div class="max-w-2xl w-full h-auto px-4">
        <MilesLogo />
      </div>

      <div class="flex gap-4">

        <div class="relative">
          <span class="h-full w-full -z-10 absolute bg-gradient-to-tr from-[#F53844] to-[#42378F]" aria-hidden="true"></span>

          <a class="h-full w-full px-6 py-1 border-4 border-transparent bg-clip-padding bg-gray-100 text-black flex justify-center items-center text-lg transition-colors"
            href="/articles"
          >
            <span>
              Blog
            </span>
          </a>
        </div>
        

        <a class="text-lg px-4 py-1 transition-colors rounded border border-black hover:bg-black hover:bg-opacity-20"
          href="https://github.com/MilesCodeIt"
          target="_blank"
        >
          Our GitHub
        </a>
      </div>
    </div>
  </body>
</html>